<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>{{ "vote.confirm-title" | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">{{
        "btn.back" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <p>
      {{
        ("vote.confirm-message" | translate) +
          " " +
          candidate.firstName +
          " " +
          candidate.lastName +
          " (" +
          candidate.party +
          ")?"
      }}
    </p>
  </ion-item>

  <ion-button
    expand="block"
    color="dark"
    class="rounded-long-fixed-button"
    (click)="confirm()"
    >{{ "vote.vote" | translate }}</ion-button
  >

  <p class="fixed-submessage">{{ 'vote.confirm-submessage' | translate }}</p>
</ion-content>
