<div class="container">
  <!-- CAMERA -->
  <div id="camera-preview"></div>

  <!-- IMAGE PREVIEW -->
  <div id="image-preview-layer"></div>

  <!-- FACE OVAL -->
  <div class="face-overlay"></div>

  <!-- TAKE PHOTO BUTTON -->
  <!-- Floating button -->
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    style="margin-bottom: 30px"
  >
    <div *ngIf="isProcessing()" class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <ion-fab-button
      *ngIf="isReadyToTakePhoto()"
      color="dark"
      (click)="captureImage()"
    >
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      *ngIf="isReadyToRetakePhoto()"
      color="dark"
      (click)="retakeImage()"
    >
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isReadyToLogin()" color="dark" (click)="login()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
