@use "../app.component.scss";

#camera-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#image-preview-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.face-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent dark overlay */
  pointer-events: none;
  mask-image: radial-gradient(
    ellipse 350px 580px at center,
    transparent 40%,
    black 41%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 350px 580px at center,
    transparent 40%,
    black 41%
  );
}

ion-content {
  position: relative;
  overflow: visible;
}

ion-app,
ion-content {
  background: transparent !important;
}
