<ion-content [fullscreen]="true">
  <ion-grid class="fullscreen-grid">
    <ion-row class="fullscreen-grid ion-align-items-center" >
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button (click)="login()" color="dark">{{ 'landing.login' | translate }}</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-button (click)="signup()" color="dark">{{ 'landing.signup' | translate }}</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>