<ion-header [translucent]="true" class="header-border">
  <ion-toolbar>
    <ion-title slot="start">{{ 'vote.title' | translate }}</ion-title>

    <app-language-switcher></app-language-switcher>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="candidates.length > 0 && !isModalOpen">
    <ion-row>
      <ion-col>
        <ion-card class="text-warning" *ngIf="hasVoted">
          <ion-card-header>
            <ion-card-title>{{ 'vote.alert' | translate }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card
          *ngFor="let candidate of candidates"
          [ngClass]="(selected === candidate.id ? 'selected-border' : 'border-lighter') + ' rounded-border'"
          [disabled]="hasVoted"
        >
          <ion-card-header (click)="setCandidateSelection(candidate.id)">
            <div class="card-row">
              <ion-thumbnail slot="end">
                <img
                  src="{{candidate.image}}"
                  alt="Profile"
                  class="profile-image"
                />
              </ion-thumbnail>
              &nbsp;&nbsp;

              <div class="card-titles">
                <ion-card-title
                  >{{ candidate.firstName + ' ' + candidate.lastName
                  }}</ion-card-title
                >
                <ion-card-subtitle>{{ candidate.party }}</ion-card-subtitle>
              </div>
            </div>

            <ion-row class="ion-text-center">
              <ion-col>
                <ion-button
                  color="dark"
                  fill="clear"
                  *ngIf="selected === candidate.id"
                  (click)="openConfirmModal(candidate)"
                >
                  <ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;{{
                  'vote.vote' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-no-results *ngIf="candidates.length < 1"></app-no-results>
</ion-content>
