.news-card {
  border: 1px solid white;
  border-radius: 12px;
  // background-color: var(--ion-color-dark); // Ensures it blends with dark theme

  ion-thumbnail img {
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid white;
  }

  ion-label h2 {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
  }

  ion-label p {
    font-size: 0.8rem;
    color: #ccc;
  }

  ion-card-content p {
    margin-bottom: 0.5rem;
    color: white;
  }

  ion-button {
    --color: #ffffff;
  }
}

.news-post {
  margin: 14px;
  border-radius: 14px;
  overflow: hidden;

  /* Light gray border */
  border: 1px solid #aaaaaa;
}

.post-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.post-meta {
  --padding-start: 16px;
  --inner-padding-end: 16px;

  .author {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  .timestamp {
    font-size: 12px;
    color: var(--ion-color-medium);
    margin: 2px 0 0 0;
  }
}

.post-image {
  width: 100%;
  max-height: 1000px; // allows portrait images to be tall
  object-fit: contain; // prevents cropping
  background: #00000010; // subtle background for transparent images
  border-radius: 8px;
  margin-top: 8px;
}

.post-content {
  font-size: 15px;
  line-height: 1.5;

  p {
    margin: 0;
  }
}