.news-card {
  border: 1px solid white;
  border-radius: 12px;
  // background-color: var(--ion-color-dark); // Ensures it blends with dark theme

  ion-thumbnail img {
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid white;
  }

  ion-label h2 {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
  }

  ion-label p {
    font-size: 0.8rem;
    color: #ccc;
  }

  ion-card-content p {
    margin-bottom: 0.5rem;
    color: white;
  }

  ion-button {
    --color: #ffffff;
  }
}