<ion-card class="news-post">
  <!-- Title -->
  <ion-card-header>
    <ion-card-title class="post-title">
      {{ news.title }}
    </ion-card-title>
  </ion-card-header>

  <!-- Metadata -->
  <ion-item lines="none" class="post-meta">
    <ion-label>
      <p class="author">{{( "newsfeed.by" | translate ) +  news.createdBy }}</p>
      <p class="timestamp">{{ news.updatedAt | date : "medium" }}</p>
    </ion-label>
  </ion-item>

  <!-- Image -->
  <ng-container *ngIf="news.imageUrl">
    <ion-img [src]="news.imageUrl" class="post-image"></ion-img>
  </ng-container>

  <!-- Content -->
  <ion-card-content class="post-content">
    <p>{{ news.content }}</p>
  </ion-card-content>
</ion-card>
