<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="false">
  <ion-fab-button color="white" class="fab-bordered">
    <ion-button color="white">vot.e</ion-button>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button class="fab-bordered">
      <ion-icon (click)="goToProfile()" name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="fab-bordered">
      <ion-icon (click)="logout()" name="exit"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>{{ 'tabs.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="candidates" href="/tabs/candidates">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>{{ 'tabs.candidates' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vote" href="/tabs/vote" disabled="{{!electionEnabled}}">
      <ion-icon aria-hidden="true" name="ban-outline"></ion-icon>
      <ion-label>{{ 'tabs.vote' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>