<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="false">
  <ion-fab-button color="white" class="fab-bordered">
    <ion-button color="white">vot.e</ion-button>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button disabled class="fab-bordered">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="fab-bordered">
      <ion-icon (click)="logout()" name="exit"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Acasă</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Candidați</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" disabled="{{!electionEnabled}}">
      <ion-icon aria-hidden="true" name="ban-outline"></ion-icon>
      <ion-label>Votează</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>