<ion-header class="top" [translucent]="true">
</ion-header>

<ion-content class="top" [fullscreen]="true">
  <ion-grid *ngIf="candidates.length > 0">
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let candidate of candidates">
          <img alt="{{ candidate.firstName + '-' + candidate.lastName }}" src="{{ candidate.image }}" />
          <ion-card-header>
            <ion-card-title>{{ candidate.firstName + ' ' + candidate.lastName }}</ion-card-title>
            <ion-card-subtitle>{{ candidate.party }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-label>{{ candidate.description }}</ion-label>
          </ion-card-content>

          <ion-row class="ion-text-end">
            <ion-col>
              <ion-button fill="clear" (click)="openMoreAbout()">DETALII</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="candidates.length > 1">
      <ion-col class="ion-text-center">
        <ion-button class="bottom" shape="round" color="dark" (click)="scrollToTop()">Du-te sus</ion-button>
      </ion-col>
    </ion-row>

    <!-- EMPTY SPACE :))) -->
    <ion-row *ngFor="let idx of [1, 2, 3, 4, 5]" [hidden]="true">
      <ion-col>
        <ion-note></ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-no-results *ngIf="candidates.length < 1"></app-no-results>
</ion-content>