<ion-content class="top" [fullscreen]="true">
  <ion-grid *ngIf="candidates.length > 0">
    <ion-row>
      <ion-col>

        <ion-card *ngFor="let candidate of candidates" [ngClass]="selected === candidate.id ? 'selected-border' : ''">
          <ion-card-header (click)="setCandidateSelection(candidate.id)">
            <!-- WIP: <img alt="{{ candidate.firstName + '-' + candidate.lastName }}" src="{{ candidate.image }}" /> -->
            <ion-card-title>{{ candidate.firstName + ' ' + candidate.lastName }}</ion-card-title>
            <ion-card-subtitle>{{ candidate.party }}</ion-card-subtitle>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-button fill="clear" *ngIf="selected === candidate.id" (click)="vote(candidate)">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>Votează
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- EMPTY SPACE :))) -->
    <ion-row *ngFor="let idx of [1, 2, 3, 4, 5]" [hidden]="true">
      <ion-col>
        <ion-note></ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>