<ion-header [translucent]="true" class="header-border">
  <ion-toolbar>
    <ion-title slot="start">{{ 'candidates.title' | translate }}</ion-title>
    <app-language-switcher></app-language-switcher>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- THIS CANNOT BE RENDERED AFTER THE DOM, LIKE CONDITIONALLY -->
  <div class="swiper" #swiperRef>
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let candidate of candidates">
        <img [src]="candidate.image" alt="carousel image" />
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>

  <ion-grid *ngIf="candidates.length > 0" class="card-grid">
    <ion-row>
      <ion-col size="6">
        <ion-card class="info-card">
          <ion-card-content
            >{{ selected.firstName + ' ' + selected.lastName
            }}</ion-card-content
          >
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="info-card">
          <ion-card-content>{{ selected.party }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="center-row">
      <ion-col size="12">
        <ion-card class="info-card full-card">
          <ion-card-content>{{ selected.description }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-no-results *ngIf="candidates.length < 1"></app-no-results>

  <div class="spinner-overlay" *ngIf="!loadedData">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
