@use '../app.component.scss';

.top {
    top: 50px;
}

.swiper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh; // half of the viewport height
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  position: relative;
  display: block;
}

.swiper-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(to bottom, black, transparent);
}

.swiper-slide::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  pointer-events: none;
  background: linear-gradient(to top, black, transparent);
  z-index: 2;
}

.swiper-pagination {
  margin-top: 12px;
  position: static;
  display: flex;
  justify-content: center;
}

:host ::ng-deep .swiper-pagination-bullet {
  background-color: #ccc; // light grey
  opacity: 0.5;
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background-color: #fff; // pure white
  opacity: 1;
  transform: scale(1.2);
}

.card-grid {
  padding: 16px;
}

.info-card {
  border: 2px solid white;
  border-radius: 12px;
  background: var(--ion-background-color, #fff);
  color: var(--ion-text-color, #000);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

:host-context(.dark) .info-card {
  background: var(--ion-color-dark);
  border-color: white;
  color: white;
}

.center-row {
  justify-content: center;
}

.full-card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
