<ion-header [translucent]="true" class="header-border">
  <ion-toolbar>
    <ion-title slot="start">{{ 'candidates.title' | translate }}</ion-title>
    <app-language-switcher></app-language-switcher>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="candidates.length > 0">
    <ion-item *ngFor="let candidate of candidates">
      <app-candidate-element [candidate]="candidate"></app-candidate-element>
    </ion-item>
    <ion-row *ngIf="candidates.length > 1">
      <ion-col class="ion-text-center">
        <ion-button
          class="bottom"
          shape="round"
          color="dark"
          (click)="scrollToTop()"
          >{{ 'candidates.go-up' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-no-results *ngIf="candidates.length < 1"></app-no-results>
</ion-content>
