<ion-header [translucent]="true" class="header-border">
  <ion-toolbar>
    <ion-title slot="start">{{ 'candidates.title' | translate }}</ion-title>
    <app-language-switcher></app-language-switcher>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="candidates-content">
  <div class="swiper-container-wrapper">
    <swiper-container
      pagination="true"
      pagination-clickable="true"
      space-between="10"
      slides-per-view="1"
      class="candidates-swiper"
    >
      <swiper-slide *ngFor="let candidate of candidates">
        <div class="slide-content">
          <img [src]="candidate.image" class="candidate-image" />
          
          <ion-grid class="card-grid">
            <ion-row>
              <ion-col size="6">
                <ion-card class="info-card">
                  <ion-card-content
                    >{{ candidate.firstName + ' ' + candidate.lastName
                    }}</ion-card-content
                  >
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card class="info-card">
                  <ion-card-content>{{ candidate.party }}</ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
    
            <ion-row class="center-row">
              <ion-col size="12">
                <ion-card class="info-card full-card">
                  <ion-card-content>{{ candidate.description }}</ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <app-no-results *ngIf="candidates.length < 1"></app-no-results>

  <div class="spinner-overlay" *ngIf="!loadedData">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
