<div class="fullscreen-grid" *ngIf="cameraActive">
  <ion-content [fullscreen]="true" id="cameraPreview" class="camera-preview">
    <ion-grid class="fullscreen-grid ion-padding">
      <ion-row class="row-height-80 ion-align-items-center border">
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-fab class="ion-padding-bottom" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button color="white" (click)="captureImage()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="ion-padding-bottom ion-padding-end" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="white" (click)="stopCamera()">
      <ion-icon name="stop-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div class="fullscreen-grid" *ngIf="!cameraActive">
  <ion-content [fullscreen]="true">
    <ion-grid class="fullscreen-grid">
      <ion-row class="fullscreen-grid ion-align-items-center">
        <ion-col class="fullscreen-grid">
          <ion-item> <!-- WIP: arrange image in screen -->
            <img class="" [src]="imagePreview">
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-fab class="ion-padding-bottom ion-padding-start" slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button color="white" (click)="startCameraPreview()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="ion-padding-bottom ion-padding-end" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="white" (click)="processImage()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>