<!-- <ion-content [fullscreen]="true">
  <ion-grid class="fullscreen-grid">

    <ion-row *ngIf="infoActive" class="fullscreen-grid ion-align-items-center">
      <ion-col> </ion-col>
    </ion-row>

  </ion-grid>
</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-avatar slot="start">
        <img src="" alt="User Avatar" />
      </ion-avatar>
      <ion-card-title>{{ user.username }}</ion-card-title>
      <ion-card-subtitle>{{ user.role }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [(ngModel)]="user.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Role</ion-label>
        <ion-input [(ngModel)]="user.role" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">hasVoted</ion-label>
        <ion-input [(ngModel)]="user.hasVoted" type="tel"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="saveProfile()">Save</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
