<ion-header>
  <ion-toolbar>
    <ion-title>{{ "profile.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab *ngIf="!isRegisteringRN" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="white" class="fab-bordered">
    <ion-icon (click)="close()" name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="ion-padding">
  <ion-card *ngIf="loadedData">
    <ion-card-header class="center-header">
      <img *ngIf="userAvatar" [src]="userAvatar" alt="User Avatar ALT" />
      <img
        *ngIf="!userAvatar"
        src="../../assets/default_avatar.png"
        width="200"
        height="200"
        alt="User Avatar DEFAULT ALT"
      />
    </ion-card-header>

    <ion-card-content>
      <!-- LASTNAME -->
      <ion-item>
        <ion-input
          disabled
          label="{{ 'profile.lastname' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.lastname"
        ></ion-input>
      </ion-item>

      <!-- FISRTNAME -->
      <ion-item>
        <ion-input
          disabled
          label="{{ 'profile.firstname' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.firstname"
        ></ion-input>
      </ion-item>

      <!-- ID SERIES & NUMBER -->
      <ion-item>
        <ion-input
          disabled
          label="{{ 'profile.id-series' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.idSeries"
        ></ion-input>
        <ion-input
          disabled
          label="{{ 'profile.id-number' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.idNumber"
        ></ion-input>
      </ion-item>

      <!-- CNP -->
      <ion-item>
        <ion-input
          disabled
          label="{{ 'profile.cnp' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.cnp"
        ></ion-input>
      </ion-item>

      <!-- NATIONALITY -->
      <ion-item>
        <ion-select
          label="{{ 'profile.nationality' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.nationality"
        >
          <ion-select-option
            *ngFor="let nationality of nationalities"
            [value]="nationality"
          >
            {{ "nationality." + nationality | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- GENDER -->
      <ion-item>
        <ion-select
          label="{{ 'profile.gender' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.gender"
        >
          <ion-select-option *ngFor="let gender of genders" [value]="gender">
            {{ "gender." + gender | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- RESIDENCE ADDRESS -->
      <ion-item>
        <ion-input
          label="{{ 'profile.residence-address' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="user.residenceAddress"
        ></ion-input>
      </ion-item>

      <!-- VALIDITY -->
      <ion-item>
        <ion-input
          label="{{ 'profile.valid-from' | translate }}"
          labelPlacement="floating"
          [value]="user.validityStartDate | date : 'dd-MM-yyyy'"
        ></ion-input>
        <ion-input
          label="{{ 'profile.valid-until' | translate }}"
          labelPlacement="floating"
          [value]="user.validityEndDate | date : 'dd-MM-yyyy'"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" color="dark" (click)="saveProfile()">{{
        "profile.save" | translate
      }}</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!loadedData">
    <ion-card-content>
      <ion-spinner name="crescent"></ion-spinner>
    </ion-card-content>
  </ion-card>
</ion-content>
