<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" *ngIf="!electionEnabled"
      >{{ 'home.inactive-title' | translate }}</ion-title
    >
    <ion-title slot="start" *ngIf="electionEnabled"
      >{{ 'home.active-title' | translate }}</ion-title
    >

    <app-language-switcher></app-language-switcher>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-home-element
    [news]="{title: 'Voturi', timestamp: 1758050000000, description: 'Voturile au atins 20%!'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Știri', timestamp: 1758041000000, description: 'Ziarul de Bistrița a anunțat deja câștigătorii zilei... uuu... sexi...'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Voturi', timestamp: 1758040000000, description: 'Voturile au atins 10%!'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Voturi', timestamp: 1758039900000, description: 'Voturile au atins 5%!'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Alegeri 2025', timestamp: 1758039600000, description: 'Alegerile au început, în pula mea!'}"
  ></app-home-element>
</ion-content>
