<ion-header [translucent]="true" class="header-border">
  <ion-toolbar>
    <div slot="start" class="title-stack">
      <ion-text *ngIf="!election?.enabled" class="floating-text"
        >{{ 'home.inactive-title' | translate }}</ion-text
      >
      <ion-text *ngIf="election?.enabled" class="floating-text"
        >{{ 'home.active-title' | translate }}</ion-text
      >
  
      <ion-title>{{ election?.name }}</ion-title>
    </div>
    <div slot="end" class="language-switcher-wrapper">
      <app-language-switcher></app-language-switcher>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-home-element
    [news]="{title: 'Voturi', timestamp: 1758050000000, description: 'Voturile au atins 20%!'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Știri', timestamp: 1758041000000, description: 'Ziarul de Bistrița a anunțat deja câștigătorii zilei... uuu... sexi...'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Voturi', timestamp: 1758040000000, description: 'Voturile au atins 10%!'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Voturi', timestamp: 1758039900000, description: 'Voturile au atins 5%!'}"
  ></app-home-element>
  <app-home-element
    [news]="{title: 'Alegeri 2025', timestamp: 1758039600000, description: 'Alegerile au început, în pula mea!'}"
  ></app-home-element>
</ion-content>
