<ion-header [translucent]="true" class="header-border">
  <ion-toolbar>
    <div slot="start" class="title-stack">
      <ion-text *ngIf="!selectedElection?.enabled" class="floating-text"
        >{{ 'home.inactive-title' | translate }}</ion-text
      >
      <ion-text *ngIf="selectedElection?.enabled" class="floating-text"
        >{{ 'home.active-title' | translate }}</ion-text
      >
  
      <ion-title>{{ selectedElection?.name }}</ion-title>
    </div>
    <div slot="end" class="language-switcher-wrapper">
      <app-language-switcher></app-language-switcher>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-home-element *ngFor="let news of newsfeed"
    [news]="news"
  ></app-home-element>
</ion-content>
