<div>
  <!-- blur overlay -->
  <div class="blur-top"></div>
  <div class="blur-bottom"></div>
  <div class="blur-left"></div>
  <div class="blur-right"></div>

  <!-- Scan rectangle -->
  <div class="scan-rectangle"></div>

  <!-- Floating button -->
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button 
      *ngIf="shouldRetakePhoto()"
      color="dark"
      (click)="retakePhoto()"
    >
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
    <div *ngIf="shouldWaitScanning()" class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <ion-fab-button
      *ngIf="shouldSavePhoto()"
      color="dark"
      (click)="goToProfile()"
    >
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!isPhotoTaken" color="dark" (click)="captureImage()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- CAMERA -->
  <div id="camera-preview"></div>
</div>
