@import "../app.component.scss";

.blur-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.blur-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.blur-left {
  position: fixed;
  top: 10%;
  left: 0;
  width: 25vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.blur-right {
  position: fixed;
  top: 10%;
  right: 0;
  width: 25vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.scan-rectangle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  border: 2px solid #00ffcc;
  z-index: 100;

  background-color: rgba(0, 255, 255, 0.1); // translucent cyan
}

#camera-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

ion-content {
  position: relative;
  overflow: visible;
}

ion-app,
ion-content {
  background: transparent !important;
}
